*.iml
.gradle/
build/
local.properties
.idea/
captures/
.externalNativeBuild/
.cxx/
*.keystore
*.jks
keystore.properties
# Para activar notificaciones push (FCM) coloca aquí tu google-services.json
app/google-services.json
